@using CraftingStation.Components.Layout_Editor.Data

@if (EditorData.Edit) {
    <div class="selectable-div @(EditorData.Edit ? "selection-active" : "") @(isSelected ? " selected" : "")"
         @onmouseover="@(() => onHover(ComponentData))" @onmouseover:stopPropagation="true"
         @onclick="@(() => onClick(ComponentData))" @onclick:stopPropagation="true" style="@Style">
        @ChildContent
    </div>
} else {
    <div style="@Style">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public ComponentData ComponentData { get; set; }

    [CascadingParameter]
    public EditorData EditorData { get; set; }

    [Parameter]
    public string Style { get; set; }


    private bool isSelected => ComponentData != null && ComponentData.ID.Equals(EditorData?.SelectedComponent?.ID);

    private void onHover(ComponentData componentData) {
        if (!EditorData.Edit) {
            return;
        }

        EditorData.HoveredComponent = componentData;
    }

    private void onClick(ComponentData componentData) {

        if (!EditorData.Edit) {
            return;
        }

        if (EditorData.SelectedComponent == null || !EditorData.SelectedComponent.ID.Equals(componentData.ID)) {
            EditorData.SelectedComponent = componentData;
        } else {
            EditorData.SelectedComponent = null;
        }
    }
}
